<footer class="page_footer parallax ds section_padding_100 columns_padding_25">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="media">
                    <div class="media-left">
                        <img alt="" class="media-object" src="images/logo.png"></div>
                        <div class="media-body">
                            <h4 class="bottommargin_0 topmargin_5">Politician
                                <br>
                                    Candidate</h4>
                            </div>
                        </div>
                        <p class="topmargin_20">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                								invidunt ut labore et
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                								dolore magna aliquyam erat, sed diam.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <h4 class="bottommargin_30 topmargin_5">Mail form</h4>
                        <form action="/" class="contact-form" method="post">
                            <p class="contact-form-name">
                                <label class="sr-only" for="footer-name">Full Name
                                    <span class="required">*</span>
                                </label>
                                <input aria-required="true" class="form-control with-icon" id="footer-name" name="name" placeholder="" size="30" type="text" value="">
                                    <i class="fa fa-user"></i>
                                </p>
                                <p class="contact-form-email">
                                    <label class="sr-only" for="footer-email">Email address
                                        <span class="required">*</span>
                                    </label>
                                    <input aria-required="true" class="form-control with-icon" id="footer-email" name="email" placeholder="" size="30" type="email" value="">
                                        <i class="fa fa-envelope"></i>
                                    </p>
                                    <p class="contact-form-message">
                                        <label class="sr-only" for="footer-message">Message</label>
                                        <textarea aria-required="true" class="form-control with-icon" cols="45" id="footer-message" name="message" placeholder="" rows="6"></textarea>
                                        <i class="fa fa-pencil"></i>
                                    </p>
                                    <p class="contact-form-submit topmargin_40">
                                        <button class="theme_button color1 margin_0" id="footer_contact_form_submit" name="contact_submit" type="submit">Send
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                										Us</button>
                                    </p>
                                </form>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <h4 class="bottommargin_30 topmargin_5">Contacts</h4>
                                <div class="media small-teaser">
                                    <div class="media-left right-15">
                                        <i class="fa fa-map-marker highlight fontsize_14"></i>
                                    </div>
                                    <div class="media-body">
                                        368 Sarah Drive, Lafayette, LA 70506
                                    </div>
                                </div>
                                <div class="media small-teaser">
                                    <div class="media-left right-15">
                                        <i class="fa fa-phone highlight fontsize_14"></i>
                                    </div>
                                    <div class="media-body">
                                        8 (800) 695-2684
                                    </div>
                                </div>
                                <div class="media small-teaser">
                                    <div class="media-left right-15">
                                        <i class="fa fa-file-text-o highlight fontsize_14"></i>
                                    </div>
                                    <div class="media-body">
                                        8 (800) 695-2686
                                    </div>
                                </div>
                                <div class="media small-teaser">
                                    <div class="media-left right-15">
                                        <i class="fa fa-envelope-o highlight fontsize_14"></i>
                                    </div>
                                    <div class="media-body">
                                        <a href="mailto:farouksoule@gmail.com">farouksoule@gmail.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <section class="page_copyright section_padding_45 ds columns_margin_0">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <p>© Copyright 2019 Simple Dev, Tous droits reservés</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- eof #box_wrapper -->
        </div>
        <!-- eof #canvas -->
        {% block javascripts %}{% endblock %}
        <script src="js/compressed.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>