<section class="page_breadcrumbs ds parallax section_padding_45 column_margin_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>{{title}}</h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="{{path('accueil')}}">
                            Accueil
                        </a>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                    </li>
                    <li class="active">{{title}}</li>
                </ol>
            </div>
        </div>
    </div>
</section>