{% extends 'base.html.twig' %}
{% block title %}Radio Comores de lyon
{% endblock %}
{% block body %}
    <section class="intro_section page_mainslider ds ms parallax">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img alt="" src="images/slide01.png">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="slide_description_wrapper">
                                    <div class="slide_description">
                                        <div class="intro-layer" data-animation="slideExpandUp">
                                            <h1 class="bottommargin_30">
                                                SAO
                                            </h1>
                                        </div>
                                        <div class="intro-layer" data-animation="slideExpandUp">
                                            <h4 class="bottommargin_40">Premiere Radio comorienne de Lyon</h4>
                                        </div>
                                    </div>
                                    <!-- eof .slide_description -->
                                </div>
                                <!-- eof .slide_description_wrapper -->
                            </div>
                            <!-- eof .col-* -->
                        </div>
                        <!-- eof .row -->
                    </div>
                    <!-- eof .container -->
                </li>
                <li>
                    <img alt="" src="images/slide02.png">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="slide_description_wrapper">
                                    <div class="slide_description">
                                        <div class="intro-layer" data-animation="slideExpandUp">
                                            <h1 class="bottommargin_30">
                                                DJ
                                            </h1>
                                        </div>
                                        <div class="intro-layer" data-animation="slideExpandUp">
                                            <h4 class="bottommargin_40">Midayi FM toujours la pour vous</h4>
                                        </div>
                                    </div>
                                    <!-- eof .slide_description -->
                                </div>
                                <!-- eof .slide_description_wrapper -->
                            </div>
                            <!-- eof .col-* -->
                        </div>
                        <!-- eof .row -->
                    </div>
                    <!-- eof .container -->
                </li>
                <li>
                    <img alt="" src="images/slide03.png">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="slide_description_wrapper">
                                    <div class="slide_description">
                                        <div class="intro-layer" data-animation="slideExpandUp">
                                            <h1 class="bottommargin_30">
                                                Farouk
                                                <br>
                                                Soulé ibrahim
                                            </h1>
                                        </div>
                                        <div class="intro-layer" data-animation="slideExpandUp">
                                            <h4 class="bottommargin_40">American Politician</h4>
                                        </div>
                                    </div>
                                    <!-- eof .slide_description -->
                                </div>
                                <!-- eof .slide_description_wrapper -->
                            </div>
                            <!-- eof .col-* -->
                        </div>
                        <!-- eof .row -->
                    </div>
                    <!-- eof .container -->
                </li>
            </ul>
        </div>
        <!-- eof flexslider -->
    </section>
    <section class="ls ms highlights darklinks section_padding_60">
        <div class="fluid-container">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="highlight-item rounded ds">
                        <div class="vertical-item" style="background-image: url('./images/highlight1.jpg');">
                            <div class="item-content after_cover">
                                <h4 class="topmargin_0">
                                    <span class="fontsize_50">Vous êtes</span>
                                    <br>
                                    14958 auditeurs en direct
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="highlight-item rounded ds">
                        <div class="vertical-item" style="background-image: url('./images/highlight3.jpg');">
                            <div class="item-content after_cover">
                                <h4 class="topmargin_0">
                                    <span class="fontsize_50">Vous êtes</span>
                                    <br>
                                    15000 auditeurs fidèles à Midayi
                                    <br></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="highlight-item rounded ds">
                        <div class="vertical-item" style="background-image: url('./images/highlight2.jpg');">
                            <div class="item-content after_cover">
                                <h4 class="topmargin_0">
                                    <span class="fontsize_50">Artistes</span>
                                    <br>
                                    faites-vous connaitre
                                    <a href="#">cliquez ici</a>
                                    <br></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ls section_padding_top_60">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div
                        class="small-post widget widget_slider widget_featured with_padding after_cover darkgrey_bg rounded" style="background-image: url('images/featured_bg.jpg');">
                        <!-- <div class="bg_overlay"></div> -->
                        <h4 class="topmargin_-5 inline-block light">Actualités</h4>
                        <div class="owl-carousel" data-autoplay="false" data-items="1" data-loop="true" data-margin="40" data-nav="true" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1">
                            <div class="vertical-item bottommargin_15">
                                <ul class="media-list">
                                    <li class="media">
                                        <a class="media-left" href="blog-single-right.html">
                                            <div class="after_cover">
                                                <img alt="" class="media-object rounded" src="images/featured1.jpg"></div>
                                        </a>
                                        <div class="media-body">
                                            <p>
                                                <a class="light" href="blog-single-right.html">Consetur
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        															sadpscing elitr sed diam</a>
                                            </p>
                                            <p class="item-meta small-text grey2 margin_0">
                                                By
                                                <a class="grey2" href="#">Admin</a>
                                                on 12.05.2016
                                            </p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a class="media-left" href="blog-single-right.html">
                                            <div class="after_cover">
                                                <img alt="" class="media-object rounded" src="images/featured2.jpg"></div>
                                        </a>
                                        <div class="media-body">
                                            <p>
                                                <a class="light" href="blog-single-right.html">Nonmy od tempor
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            															invidunt</a>
                                            </p>
                                            <p class="item-meta small-text grey2 margin_0">
                                                By
                                                <a class="grey2" href="#">Admin</a>
                                                on 09.05.2016
                                            </p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a class="media-left" href="blog-single-right.html">
                                            <div class="after_cover">
                                                <img alt="" class="media-object rounded" src="images/featured3.jpg"></div>
                                        </a>
                                        <div class="media-body">
                                            <p>
                                                <a class="light" href="blog-single-right.html">Labore olore
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                															magna aliquyam erat.</a>
                                            </p>
                                            <p class="item-meta small-text grey2 margin_0">
                                                By
                                                <a class="grey2" href="#">Admin</a>
                                                on 03.05.2016
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="vertical-item bottommargin_15">
                                <ul class="media-list">
                                    <li class="media">
                                        <a class="media-left" href="blog-single-right.html">
                                            <div class="after_cover">
                                                <img alt="" class="media-object rounded" src="images/featured1.jpg"></div>
                                        </a>
                                        <div class="media-body">
                                            <p>
                                                <a class="light" href="blog-single-right.html">Consetur
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    															sadpscing elitr sed diam</a>
                                            </p>
                                            <p class="item-meta small-text grey2 margin_0">
                                                By
                                                <a class="grey2" href="#">Admin</a>
                                                on 12.05.2016
                                            </p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a class="media-left" href="blog-single-right.html">
                                            <div class="after_cover">
                                                <img alt="" class="media-object rounded" src="images/featured2.jpg"></div>
                                        </a>
                                        <div class="media-body">
                                            <p>
                                                <a class="light" href="blog-single-right.html">Nonmy od tempor
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        															invidunt</a>
                                            </p>
                                            <p class="item-meta small-text grey2 margin_0">
                                                By
                                                <a class="grey2" href="#">Admin</a>
                                                on 09.05.2016
                                            </p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a class="media-left" href="blog-single-right.html">
                                            <div class="after_cover">
                                                <img alt="" class="media-object rounded" src="images/featured3.jpg"></div>
                                        </a>
                                        <div class="media-body">
                                            <p>
                                                <a class="light" href="blog-single-right.html">Labore olore
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            															magna aliquyam erat.</a>
                                            </p>
                                            <p class="item-meta small-text grey2 margin_0">
                                                By
                                                <a class="grey2" href="#">Admin</a>
                                                on 03.05.2016
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <article class="vertical-item with_border post small-post rounded">
                        <div class="item-media entry-thumbnail rounded">
                            <img alt="" src="images/small_post01.jpg">
                            <div class="media-links">
                                <a class="abs-link" href="blog-single-right.html" title=""></a>
                            </div>
                        </div>
                        <div class="item-content entry-content text-center">
                            <span class="categories-links">
                                <a class="theme_button small_button color1" href="blog-right.html" rel="category">Meetings</a>
                            </span>
                            <h4 class="bottommargin_10 topmargin_0">
                                <a href="blog-single-right.html">Eirmod tor unvidunt ut labore dolore</a>
                            </h4>
                            <span class="entry-author small-text">
                                <i class="fa fa-user grey"></i>
                                <span>Admin</span>
                            </span>
                            <span class="entry-date small-text">
                                <i class="fa fa-calendar grey"></i>
                                <time datetime="2016-09-03T15:05:23+00:00">07.05.2016</time>
                            </span>
                            <p class="topmargin_30 bottommargin_10">
                                Consetetur sadipscing elitr, seddiam nonumy eirmod tempor invidunt ut labore et
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                										dolore magna.
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="vertical-item with_border post small-post rounded">
                        <div class="item-media entry-thumbnail rounded">
                            <div class="embed-responsive embed-responsive-3by2">
                                <a class="embed-placeholder" href="https://www.youtube.com/embed/mcixldqDIEQ">
                                    <img alt="" src="images/small_post02.jpg"></a>
                            </div>
                        </div>
                        <div class="item-content entry-content text-center">
                            <span class="categories-links">
                                <a class="theme_button small_button color1" href="blog-right.html" rel="category">Video Presentation</a>
                            </span>
                            <h4 class="bottommargin_10 topmargin_0">
                                <a href="blog-single-right.html">Magna aliquyam erat, diam voluptua</a>
                            </h4>
                            <span class="entry-author small-text">
                                <i class="fa fa-user grey"></i>
                                <span>Admin</span>
                            </span>
                            <span class="entry-date small-text">
                                <i class="fa fa-calendar grey"></i>
                                <time datetime="2016-09-03T15:05:23+00:00">03.05.2016</time>
                            </span>
                            <p class="topmargin_30 bottommargin_10">
                                Stet clita kasd gubergren, no sea takimata sayunctus est Lorem ipsum dolor sit
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    										amet.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="ls ms section_padding_50" style="background-color:#F7F7F7">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2 class="divider_40">Vous êtes
                        </h2>
                    </div>
                    <div class="col-md-4 col-sm-6">

                        <div class="teaser text-center">
                            <div class="teaser_icon grey size_big">
                                <i class="rt-icon2-sound"></i>
                            </div>
                            <h3 class="counter-wrap highlight" data-from="0" data-speed="1800" data-to="40">
                                <span class="counter" data-from="0" data-speed="1500" data-to="20">0</span>
                                <span class="counter-add">+</span>
                            </h3>
                            <p>En direct</p>
                        </div>

                    </div>

                    <div class="col-md-4 col-sm-6">

                        <div class="teaser text-center">
                            <div class="teaser_icon grey size_big">
                                <i class="rt-icon2-user"></i>
                            </div>
                            <h3 class="counter highlight" data-from="0" data-speed="1400" data-to="1256">0</h3>
                            <p>Visiteurs</p>
                        </div>

                    </div>

                    <div class="col-md-4 col-sm-6">

                        <div class="teaser text-center">
                            <div class="teaser_icon grey size_big">
                                <i class="rt-icon2-like"></i>
                            </div>
                            <h3 class="highlight counter-wrap">
                                <span class="counter" data-from="0" data-speed="1500" data-to="100000">0</span>
                                <span class="counter-add">+</span>
                            </h3>
                            <p>à nous suivre</p>
                        </div>

                    </div>
                </div>
            </div>
            <h2 class="text-center divider_40">Dernieres vidéos</h2>
            <div class="row">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img alt="" src="images/team/01.jpg">
                        <div class="caption">
                            <h3>
                                <a href="team-single.html">Michael Bean</a>
                            </h3>
                            <p>Director</p>
                            <p class="text-center social-icons">
                                <a class="social-icon soc-facebook" data-toggle="tooltip" href="#" title="Facebook"></a>
                                <a class="social-icon soc-twitter" data-toggle="tooltip" href="#" title="Twitter"></a>
                                <a class="social-icon soc-google" data-toggle="tooltip" href="#" title="Google"></a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img alt="" src="images/team/02.jpg">
                        <div class="caption">
                            <h3>
                                <a href="team-single.html">Mohamed Rahum</a>
                            </h3>
                            <p>SEO</p>
                            <p class="text-center social-icons">
                                <a class="social-icon soc-facebook" data-toggle="tooltip" href="#" title="Facebook"></a>
                                <a class="social-icon soc-twitter" data-toggle="tooltip" href="#" title="Twitter"></a>
                                <a class="social-icon soc-google" data-toggle="tooltip" href="#" title="Google"></a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img alt="" src="images/team/03.jpg">
                        <div class="caption">
                            <h3>
                                <a href="team-single.html">Whitney Johnson</a>
                            </h3>
                            <p>Developer</p>
                            <p class="text-center social-icons">
                                <a class="social-icon soc-facebook" data-toggle="tooltip" href="#" title="Facebook"></a>
                                <a class="social-icon soc-twitter" data-toggle="tooltip" href="#" title="Twitter"></a>
                                <a class="social-icon soc-google" data-toggle="tooltip" href="#" title="Google"></a>
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>


    <section class="ls section_padding_top_60 section_padding_bottom_100">
        <div class="container">
            <div class="row bottommargin_10">
                <div class="col-md-4">
                    <h3 class="widget-title">Nouveautés</h3>
                    <div class="owl-carousel" data-autoplay="true" data-items="1" data-loop="true" data-nav="true" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xlg="1" data-responsive-xs="1">
                        <div class="vertical-item">
                            <div class="item-media">
                                <img alt="" src="images/gallery/01.jpg">
                            </div>
                            <div class="item-content">
                                <h4>Consetetur sadipscing elitr</h4>
                                <p class="item-meta greylinks">
                                    By
                                    <a href="#">Admin</a>
                                    on Oct 18, 2015
                                    <span class="pull-right">
                                        <i class="rt-icon2-heart-outline highlight"></i>
                                        325</span>
                                </p>

                            </div>
                        </div>

                        <div class="vertical-item">
                            <div class="item-media">
                                <img alt="" src="images/gallery/02.jpg">
                            </div>
                            <div class="item-content">
                                <h4>Consetetur sadipscing elitr</h4>
                                <p class="item-meta greylinks">
                                    By
                                    <a href="#">Admin</a>
                                    on Oct 18, 2015
                                    <span class="pull-right">
                                        <i class="rt-icon2-heart-outline highlight"></i>
                                        221</span>
                                </p>

                            </div>
                        </div>

                        <div class="vertical-item">
                            <div class="item-media">
                                <img alt="" src="images/gallery/03.jpg">
                            </div>
                            <div class="item-content">
                                <h4>Consetetur sadipscing elitr</h4>
                                <p class="item-meta greylinks">
                                    By
                                    <a href="#">Admin</a>
                                    on Oct 18, 2015
                                    <span class="pull-right">
                                        <i class="rt-icon2-heart-outline highlight"></i>
                                        58</span>
                                </p>

                            </div>
                        </div>

                        <div class="vertical-item">
                            <div class="item-media">
                                <img alt="" src="images/gallery/04.jpg">
                            </div>
                            <div class="item-content">
                                <h4>Consetetur sadipscing elitr</h4>
                                <p class="item-meta greylinks">
                                    By
                                    <a href="#">Admin</a>
                                    on Oct 18, 2015
                                    <span class="pull-right">
                                        <i class="rt-icon2-heart-outline highlight"></i>
                                        241</span>
                                </p>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-md-4">
                    <h3 class="widget-title">Faites vous connaitre</h3>
                    <div class="bg_teaser after_cover color_bg_1">
                        <img alt="" src="images/teaser01.jpg">
                        <div class="teaser_content media">

                            <div class="teaser text-center">
                                <div class="teaser_icon highlight2 size_big">
                                    <i class="rt-icon2-heart2"></i>
                                </div>
                                <h3>Color Big</h3>
                                
                                <a class="theme_button color2" href="#">Regular Button</a>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <h3 class="widget-title">Suivez-nous</h3>
                    <div class="text-center">
                        <a class="social-icon big-icon color-bg-icon soc-twitter" href="#">
                            <span>34.5K</span>
                            <span>Friends</span>
                        </a>
                        <a class="social-icon big-icon color-bg-icon soc-facebook" href="#">
                            <span>3.2K</span>
                            <span>Follows</span>
                        </a>
                        <a class="social-icon big-icon color-bg-icon soc-google" href="#">
                            <span>15.7K</span>
                            <span>Friends</span>
                        </a>
                    </div>
                </div>
            </article>
        </div>
    </div>

</section>
<section class="cs parallax section_padding_60 main_color2 subscribe columns_margin_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4 class="margin_0">Inscrivez-vous à notre news letter</h4>
                <h5 class="topmargin_0">et suivez votre candidat</h5>
                <div class="widget widget_mailchimp topmargin_40">
                    <form action="/" class="signup form-inline" method="get">
                        <div class="form-group">
                            <input class="mailchimp_email form-control with-icon" name="email" type="email"></div>
                        <button class="fa fa-envelope form-button" type="submit">
                            <span class="sr-only">Envoyez</span>
                        </button>
                        <div class="response"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>{% endblock %}