<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
    <html
    class="no-js"> <!--<![endif]-->
    <head>
        <title>
            Midayi FM:
            {% block title %}{% endblock %}
        </title>
        <meta
        charset="utf-8">
        <!--[if IE]                                                                                                                           <![endif]-->
        <meta content="" name="description">
        <meta
        content="width=device-width, initial-scale=1" name="viewport">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        {% block stylesheets %}{% endblock %}
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/main.css" id="color-switcher-link" rel="stylesheet">
        <link href="css/animations.css" rel="stylesheet">
        <link href="css/fonts.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <!--[if lt IE 9]>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      <![endif]-->
    </head>
    {% include "partials/header.html.twig" %}
    {% block body %}{% endblock %}
    {% include "partials/footer.html.twig" %}